@import "../../variables";
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    
.logo{
        object-fit: contain;
    }

.nav-list {
display: flex;
align-items: center;
justify-content: space-between;
gap: 1.2rem;
li{
list-style: none;
}
}

.nav-btns{
display: flex;
align-items: center;
gap: 10px;
}
button{
padding: 1rem;
border: 1px solid $primary;
width: 120px;
border-radius: 1rem;
cursor: pointer;
&:hover{
background-color: $yellow;
}
}
}
