$primary: #000000;
    $secondary: #E7E8FE;
    $textColor: #7A7A7A;
    $yellow: #F1FF9D;
    $green: #DFF2C2;
    $white: #FBFBFB;
   $fontfamily: "Space Grotesk";
   $shadow:5px 5px 0px 0px #000000;